fastapi
uvicorn[standard]
sqlalchemy
greenlet
# asyncpg (Required for PostgreSQL Production Mode)
# psycopg2-binary (Required for PostgreSQL Production Mode)
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt
python-multipart
google-generativeai
pytest
pytest-asyncio
httpx
python-dotenv
aiosqlite
email-validator

